<!DOCTYPE html>
<html>
<head>
  <title>Stekkers2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse">
    amosuke の　一つめのアプリ
  </nav>
<%= yield %>

</body>
</html>
